@media only screen and (min-width: 600px) {
/*-----BODY -----*/
	body {}




	#container {}




	nav ul li {	}
	nav ul li a {}
	header{
		background-image:url(../images/header-tablet.jpg);
		
		height:304px;
	}


	header img{
	width:auto;
}

div.decorative-wrap{
	display:block;
	background:#30333D;
}

div.decorative-wrap div.left{
	height:2em;
	width:25%;
	background-color:#D25A35;
}	

button#showPhoneNav{
	display:none;
	
}

nav{
	
	width:25%;
	float:left;
	padding-top:0px;
	height:870px;
	margin-right:2%;
	text-align:left;
	background:#E1E3E4;
}

nav ul{
	display:block!important;
	padding:0;
	margin:0;
	border:none;
	border-radius: 0;
	box-shadow: none;
	width:100%;


}
nav ul li{
	border-bottom:solid 1px black;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
background: #cedce7; /* Old browsers */
background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

}

nav ul li a{
	margin-left:13px;
	color:black;
}
.content .crafts-img{
	border:solid 1px black;
	width:380px;
	float:right;
	display:block;
	margin:10px;
}
	


	.content{
		margin-top:20px;

		
	}

	.middle{
		
	}

	.decorative-div{
		width:74%;
		margin-left:26%;
	}

	article img{
	width:60%;
	margin-left:0;
	
}

.row article{
	width:46%;
	float:left;
	margin:2%;

}
.row{
	margin:auto;
}

footer article{
	float:left;
	width:33%;
	text-align: center;
	padding-top:10px;
	clear:none;
	

}

footer article i{
	float:left;
}

footer article ul li{
	float:left;
	
}

footer i{
	margin-left:0;
}



}