@media only screen and (min-width: 1141px) {
/*-----BODY -----*/
	body {}

/*-----WRAPPER -----*/
	#wrapper {}

/*-----CONTAINER -----*/
	#container {
		margin: 2em auto;
		border: 1px solid #888;
	}

/*-----HEADER -----*/
header{
	max-width:1140px;
	margin:0 auto;	
}



div.search{
	position: static;
	float:right;
	margin:.5em 2% 0 0;
}

/*-----NAVigation -----*/
nav{
	max-width:1140px;
	margin:0 auto;	
}


/*-----CONTENT -----*/
.content-wrapper{
	background-image:url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size:2000px ;
}
#content{
	max-width: 1140px;
	margin:0 auto;
	border-left:1px solid black;
	border-right:1px solid black;

}
#content article figure img{
	width:100%;
	margin:0;
}

#content article figure figcaption{
	width:100%;
	padding:.4em 0;
}

div.column{
	width:50%;
	float:left;
	clear:none;
}

article{
	margin-left:4%;
	margin-right:4%;
	width:42%;
}


/*----- FOOTER -----*/


} 