/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*-----BODY -----*/
body {
	font-size: 16px;	
}


/*-----CONTAINER -----*/
#container {
	background-color: #fff;   /*becomes the nav background color*/
	min-width: 320px;
	max-width: 1140px;
}

/*-----HEADER -----*/
.header-wrapper{
	background-image:url(../images/headerWrapper.jpeg);
	min-width: 320px;
}

header img{
	float:left;
	margin:0 2%;
	width:60px;
	margin-bottom:8px;
	padding-top:3px;
}

header h1{
	font-weight:700;
	font-size:1.8em;
	padding-top:1.0em;
	color:rgba(0,0,0,0.7);
}

header h2{
	margin-bottom: 5px;
	font-size:1.1em;
	
	color:rgba(0,0,0,0.7);

}
/*-----NAVigation -----*/


/*-----CONTENT -----*/
#content {
	min-height: 5em;
	background-color:rgba(255,255,255,0.95);

}

#content h1{
	font-size: 2em;
	padding:1em 0 0 0;
	margin:0 2%;
	color:black;
	font-weight:700;
}

#content h3{
	margin:.3em 0 .5em 0;
	font-size: 1.5em;
}

#content p{
	padding-top:.6em;
}

article{
	margin:.9em 2%;
	border-top:1px solid black;
}

article figure img{
	width:46%;
	margin-right:4%;
	float:left;
	border:1px solid black;
}

article figure figcaption{
	display: inline;
	width:50%;
	font-size:.7em;
	color:black;

}
article figure{
	overflow:hidden;
	width:100%;
}
/*----- FOOTER -----*/
footer {
	clear: both;
	text-align: center;
	padding: 1em;

}
.clearfix:after{
	content:"";
	display:table;
	clear:both;

}
/*
.clearfix {
  overflow: auto;
}
*/

.header-wrapper img{
	width:100px;
	margin-top:5px;
}

.search{
	float:right;
	position:absolute;
	top:7px;
	right:7px;
	z-index:999;

}

.search input{
	width:150px;
	border-radius:5px;
	border:solid 1px rgba(0,0,0,0.5);
	padding: .5em;
	background-color:rgba(255,255,255,0.5);
	color:#584c32;
}

footer{
	background-color: darkgray;

}