@media only screen and (min-width: 600px){
	.wrap{
		
	}

	#pic2{
		width:50%;
		float:right;
		margin-left:1%;
		margin-top:1%;
	}

	.home-about{
		overflow: auto;
	}

	.home-location img{
		width:50%;
		float:right;
	
		margin-left:1%;


	}

	.home-location img:nth-child(even){

		float:left;
		margin-right:1%;
		
	}

	.home-location h2{
		clear:both;
		padding-top:50px;
		margin-top:0px;
	}

	.home-location p{
		font-size:1.3em;
		word-spacing: 1px;
		line-height: 1.2em;
	}

	.home-about p{
		font-size:1.3em;
		word-spacing: 1px;
		line-height: 1.1em;
	}



	.footer-col{
		width:42%;
		margin:auto

	}

	.background-pic{
		height:500px;
	}

	.slide-out-menu{
		width:300px;
	}

	.flexslider{
		width:80%;
		margin:auto;

	}

	.cancellation-policy-div{
		text-align: center;
	}



	.rules-box{
		width:47%;
		display: inline-block;
		margin: 1%;

	}

	.rules{
		padding-top:30px;


		
	}

	.amenities-about img{
	border: 1px solid black;
	margin-bottom:5px;
	width:50%;
	float:left;
	margin-right:10px;
	
	

}

.amenities-about h2{

}

#float-right{
	float:right;
}


.amenities-div-clear{
	clear:both;
	
	margin-top:10px;
	margin-bottom:10px;
	
}

.amenities-div-clear p{
	font-size:1.3em;
}

.yo{
	width:45%;
	float:left;
	margin:2.5%;
}

.yo2{
	width:80%;
	float:none;
	margin:auto;
	padding-top:40px;
}

.rooms-about img{
	width:80%;
	margin:auto;
	display: block;
}

.rooms-about figcaption{
	text-align: left;
	width:80%;
	margin:auto;
	margin-top:10px;
}

.home-about p{
	
}

.rooms-about > p{
	width:80%;
	margin:auto;
}

.yo3{
	padding-bottom:20px;
}

.gallery-div{
	float:left;
	
}
.gallery-div img{
	width:30%;
	float:left;
}

.form-div{
	width:70%;
}
}