
	body{
		.wrap{
			.content{
				.greeting-text{
					font-size:1.5em;
				}
			}
			header{
				nav{
					ul{
						li{
							display:block;
						}
					}
				}
			}
			.work-div{
				.row{
					a{
						img{
							width:95%;
						}
					}
				}
			}

			.bottom-div{
				.contact-boxes{
					form{
						input{
							width:100%;
						}
						textarea{
							width:100%;
						}
					}
				}
			}
		}
	}					
				
		
	


				
		
			
	