body{
	
.wrap{
	header{

		img#logo{
			    
	    float:none;
	    width: 130px;
	    
	    margin: auto;
	    display: block;
	    margin-top: 10px;
	    margin-bottom:20px;
		}
		nav{
			margin-right:0;
		}
	}
	.content{
		.greeting-text{
			font-size:2.5em;
			p{

				span{
					
				}
			}
			
		}
	}
	
	.work-div{
		.row{
			a{
				img{
					width:47%;
				}
			}
		}
	}

	.about-div{
		p{
			width:90%;
		}
	}

	.bottom-div{
		.contact-boxes{
			input{
				
			}
		}
	}
}

}




