@media only screen and (min-width: 601px){
	nav ul li a{
		float:left;
		border:none;
		border-radius:0px;
		margin:0px;

		
	}

	nav ul li {
		width:100%;
		margin-bottom:0px;


	}

	#tablet-nav-coloring{
		background:#4bc6df;
		width:100%;
		height:34px;

	}
	nav ul{
		padding-top:0px;
		padding-bottom:0px;

	}

	figure.w33{
		margin:0px;
		width:46%;
		float:right;
	}

	form input{
		width:100%;
	}

	form#conference{
	padding:20px;
	width:75%;
	margin:auto;

	
}

#progress-bar{
	margin-left:165px;
}


}