#div3{
	display:none;
	margin:10px;
	background:green;
	border-radius: 2px;
	width:200px;
	height:200px;
	color:white;
	font-size: 24px;
	margin:auto;
	margin-top:200px;
}

@media screen and (min-width: 901px) {
    #div3 {
       display:block;
    }
}