@media only screen and (min-width: 1140px){
	nav ul li a{
		margin-left:65px;

	}

	#logo{
		width:200px;

	}

	nav ul li{
		padding-top:25px;
	}

	#search-icon{
		margin-top:40px;
	}

	#cart-icon{
		margin-top:30px;
	}
}