@media only screen and (min-width: 1001px){
	#container{
		margin:2em auto;
		border:1px solid black;
	}
	figure.w33{
		margin:0px;
		width:29%;
	}
	
	body{
		background: #8a8a8a; /* Old browsers */
		background: -moz-linear-gradient(top, #8a8a8a 0%, #9c9c9c 26%, #9c9c9c 26%, #9c9c9c 36%, #a4a4a4 50%, #c8c8c8 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #8a8a8a 0%,#9c9c9c 26%,#9c9c9c 26%,#9c9c9c 36%,#a4a4a4 50%,#c8c8c8 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #8a8a8a 0%,#9c9c9c 26%,#9c9c9c 26%,#9c9c9c 36%,#a4a4a4 50%,#c8c8c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#c8c8c8',GradientType=0 ); /* IE6-9 */
	copy
	}

	div.row article{
		width:46%;
		float:left;
		height:200px;
		overflow:scroll;

	}
	form#conference{
	padding:30px;

	
}



}