@media only screen and (min-width: 600px){
	

	nav ul li a:hover{
		background:inherit;
		color:#D4E492;
		height:100%;
		




		
	}

	

	nav ul li{
	display:inline-block; 
	width:12%; 
	vertical-align: center;
	margin-top:10px;


	
	
}
 nav ul li a{
 	
 	background:inherit;
 	text-decoration: none;
 	color:white;
 	text-align: center;
 	display:block;
 	font-weight:600;

 	border-radius: 0px;

 }

 nav{
 	height:40px;
 }

 #landscape1{
 	width:66%;

 }

 .landscape{
 	width:66%;
 }

 }